/* 3
---------------------------------------------------*/
.mediatorwrap{
  display: flex;
  justify-content: center;
  margin-top: 36px;
.mediator{
  margin-right: 27px;
  margin-left: 27px;
  text-align: center;
&__img1{
  width: 575px;
  height: 185px;
  object-fit: contain;
  margin-bottom: 29px;
  }
&__title{
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #005aa0;

  &-main{
  font-family: "Noto Serif JP", serif;
  font-weight: normal;
  font-size: 26px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #005aa0;
  margin-top: 6px;

  }
    }
&__content{
  font-family: "Noto Serif JP", serif;
  font-weight: normal;
  font-size: 13.98px;
  letter-spacing: 0.2em;
  line-height: 150%;
  text-align: center;
  color: #454545;
  margin-top: 20px;
  margin-bottom: 24.9px;

  }
&__img2{
  width: 76px;
  }

&__img3{
    width: 9px;
    height: 9px;
    }
 }
}
