/* 5
---------------------------------------------------*/
.flow{
  @include flex($type:center);
  max-width: 1400px;
  margin: auto;

  &-step{
    width: 330px;
    margin: 0 53px 30px;
    position: relative;

    @include media(sp){
      margin: 0 20px 20px;
    }

    &:not(:first-child):before{
      content: url('./assets/img/arrow.png');
      display: block;
      position: absolute;
      top: 90px;
      left: -56px;
      width: 13px;
      height: auto;

      @include media(sp){
        position: relative;
        margin: 0 auto 20px;
        top: unset;
        left: unset;
        transform: rotate(90deg);
      }
    }

    img{
      width: 100%;
      margin-bottom: 13px;
    }

    &__title{
      color: $blue;
      font-family: 'Noto Serif JP';
      margin-bottom: 16px;

      span{
        font-weight: bold;
        font-size: 22px;
        font-family: 'Lato';
        margin-right: 14px;
      }
    }

    p{
      font-size: 13px;
      line-height: 24px;
      font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    }
  }
}