/* 8
---------------------------------------------------*/
.data{
  &__title{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.2em;
    line-height: 150%;
    color: #454545;
    margin-right: 36.5px;
      }
   &__sub{
  font-family:  'Noto Serif JP', serif;
  font-size: 12px;
  letter-spacing: 0.2em;
  line-height: 150%;
  text-align: center;
  color: #505050;
 }
 &__building{
     margin-top: 18px;
     padding-top: 12.2px;
     padding-bottom: 12.2px;
     max-width: 868px;
     border-top: 1px solid rgba(0, 0, 0, .2);
     border-bottom: 1px solid rgba(0, 0, 0, .2);

     &-head{
       font-family:  "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.05em;
      line-height: 150%;
      color: #454545;
      padding-left: 7.4px;
      min-width: 7em;
      max-width: 88px;
     }

     &-info{
       padding-left: 62px;
       font-family:  "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
        font-weight: 500;
        font-size: 17px;
        letter-spacing: 0.05em;
        line-height: 150%;
        color: #454545;

     }
 }


  &__table{
    display: flex;
  }
   &__row{
     display: flex;
     font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
     font-weight: 500;
     font-size: 14px;
     letter-spacing: 0.05em;
     line-height: 150%;
     color: #454545;
     margin-top: 12.2px;
     padding-bottom: 12.2px;
     border-bottom: 1px solid rgba(0, 0, 0, .2);


   @include media(sp){
    display: block;
   }
      &-head{
      display: flex;
      min-width: 7em;
      max-width: 88px;
      padding-left: 7.4px;
            }
      &-info{
      width: 336px;
      padding-left: 62px;
              }
 }

}
