@charset "UTF-8";

/* Variable Size
-----------------------------------------*/
$main-width: 1200px;
$ipad12: 1024px;
$ipad11: 834px;
$ipad: 768px;
$se: 320px;
$path: "assets/img";


/* Variable Color
-----------------------------------------*/
$white: #f4f4f4;
$black:  #454545;
$light-gray: #8c8c8c;
$blue: #005aa0;
$color-text: $black;


/* Clean and Settings
-----------------------------------------*/
@import "reset";
@import "mixin";
@import "general";


/* Styles
-----------------------------------------*/

@import "1";
@import "2";
@import "3";
@import "4";
@import "5";
@import "6";
@import "7";
@import "8";