@charset "UTF-8";
/* Variable Size
-----------------------------------------*/
/* Variable Color
-----------------------------------------*/
/* Clean and Settings
-----------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

ul { padding: 0; }

li { list-style: none; }

img { width: 100%; border: none; min-height: 0%; height: auto; }

a { text-decoration: none; }

input[type="text"], input[type="tel"], input[type="email"], textarea { border-radius: 0; appearance: none; }

input[type="submit"], input[type="button"] { border-radius: 0; appearance: button; border: none; box-sizing: border-box; }
input[type="submit"]::-webkit-search-decoration, input[type="button"]::-webkit-search-decoration { display: none; }
input[type="submit"]::focus, input[type="button"]::focus { outline-offset: -2px; }

.main { display: block; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Media Query 
---------------------------------------------------*/
/* Flex Box
---------------------------------------------------*/
html { height: 100%; overflow: auto; -webkit-text-size-adjust: 100%; min-height: 0%; }

body { overflow: hidden; position: relative; font-family: 'Noto Sans JP', sans-serif; color: #454545; margin: 0; font-display: swap; width: 100%; }

a { transition: all .5s ease 0s; }
a:hover { opacity: .6; }

/* Styles
-----------------------------------------*/
/* 1
---------------------------------------------------*/
.article { max-width: 724px; margin-top: 29.5px; margin-left: 38px; margin-right: 38px; }
.article__line { display: flex; padding-top: 13px; padding-bottom: 13px; border-bottom: 1px solid #8c8c8c; }
.article__lineDate { width: 73px; font-family: 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", メイリオ, sans-serif; font-weight: bold; font-size: 13px; letter-spacing: 0.2em; margin-right: 54px; }
.article__lineText { font-family: 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", メイリオ, sans-serif; font-size: 13px; letter-spacing: 0.05em; }

/* 2
---------------------------------------------------*/
.about { display: flex; }
@media only screen and (max-width: 767px) { .about { display: block; } }
.about-left { margin-right: 79px; }
.about__row { display: flex; width: 450px; font-size: 13px; line-height: 24px; font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif; padding: 12px 0; }
.about__row:not(:last-child) { border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
.about__row-head { min-width: 6em; font-weight: bold; }
.about__row-info { margin-left: 19px; }

/* 3
---------------------------------------------------*/
.mediatorwrap { display: flex; justify-content: center; margin-top: 36px; }
@media only screen and (max-width: 767px) { .mediatorwrap { display: block; text-align: center; } }
.mediatorwrap .mediator { margin-right: 27px; margin-left: 27px; text-align: center; }
.mediatorwrap .mediator__img1 { width: 575px; height: 185px; object-fit: contain; margin-bottom: 29px; }
@media only screen and (max-width: 767px) { .mediatorwrap .mediator__img1 { margin-bottom: 45.1px; max-width: 350px; height: auto; } }
.mediatorwrap .mediator__title { font-family: "Noto Serif JP", serif; font-weight: bold; font-size: 14px; text-align: center; color: #005aa0; }
.mediatorwrap .mediator__title-main { font-family: "Noto Serif JP", serif; font-weight: normal; font-size: 26px; letter-spacing: 0.2em; text-align: center; color: #005aa0; margin-top: 6px; }
.mediatorwrap .mediator__content { font-family: "Noto Serif JP", serif; font-weight: normal; font-size: 13.98px; letter-spacing: 0.2em; line-height: 150%; text-align: center; color: #454545; margin-top: 20px; margin-bottom: 24.9px; }
.mediatorwrap .mediator__img2 { width: 76px; }
.mediatorwrap .mediator__img3 { width: 9px; height: 9px; }

/* 4
---------------------------------------------------*/
/* 5
---------------------------------------------------*/
.flow { justify-content: center; display: flex; flex-wrap: wrap; width: auto; height: auto; max-width: 1400px; margin: auto; }
.flow-step { width: 330px; margin: 0 53px 30px; position: relative; }
@media only screen and (max-width: 767px) { .flow-step { margin: 0 20px 20px; } }
.flow-step:not(:first-child):before { content: url("./assets/img/arrow.png"); display: block; position: absolute; top: 90px; left: -56px; width: 13px; height: auto; }
@media only screen and (max-width: 767px) { .flow-step:not(:first-child):before { position: relative; margin: 0 auto 20px; top: unset; left: unset; transform: rotate(90deg); } }
.flow-step img { width: 100%; margin-bottom: 13px; }
.flow-step__title { color: #005aa0; font-family: 'Noto Serif JP'; margin-bottom: 16px; }
.flow-step__title span { font-weight: bold; font-size: 22px; font-family: 'Lato'; margin-right: 14px; }
.flow-step p { font-size: 13px; line-height: 24px; font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif; }

/* 6
---------------------------------------------------*/
.tax { margin-top: 63px; margin-left: 54px; }
.tax__title { font-family: "Noto Serif JP", serif; font-size: 16px; letter-spacing: 0.2em; color: #005aa0; margin-bottom: 13.7px; }
.tax__content { width: 650px; height: 54.32px; font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif; font-weight: 500; font-size: 13px; letter-spacing: 0.05em; line-height: 150%; color: #454545; margin-bottom: 8.5px; }
.tax__price { font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif; font-weight: bold; font-size: 12px; letter-spacing: 0.05em; line-height: 150%; color: #838383; margin-bottom: 6.5px; }
.tax__price-head { width: 194px; margin-right: 95px; }
.tax__row { display: flex; width: 317px; border: 1px solid rgba(0, 0, 0, 0.2); border-bottom: 0px; }
.tax__row-head { padding-top: 6px; padding-bottom: 6px; padding-left: 14px; width: 194px; font-size: 13px; font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif; border-right: 1px solid rgba(0, 0, 0, 0.2); background-color: #EDEDEE; }
.tax__row-info { padding-top: 6px; padding-bottom: 6px; padding-left: 14px; font-size: 13px; font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif; }
.tax__row:last-of-type { border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

/* 7
---------------------------------------------------*/
/* 8
---------------------------------------------------*/
